
.logindiv{
    width: 40%;
    background-color: #fff;
    box-shadow: 1px 1px 8px rgba(0,0,0,6.005);
    border-radius: 5px;
    margin: 70px auto;
    padding: 50px;
}

.h1{
    text-align: center;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}

.loginform{
    margin-top: 10px;
}

.loginform .loginformdiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginform .loginformdiv label{
    margin-bottom: 5px;
    font-size: 21px;
}

.loginform .loginformdiv input{
    margin-bottom: 10px;
    padding: 10px;
    outline:none;
    border-radius: 5px;
}

.loginform  button{
    border: 0;
    outline: none;
    background-color: purple;
    color: #fff;
    font-weight: 600;
    padding: 15px;
    cursor: pointer;
    box-shadow: 1px 1px 8px rgba(0,0,0,6.005);
    border-radius: 10px;
    margin-top: 15px;

}


 .link{
    margin-top: 20px;
    text-align: center;
}